* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

nav {
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 10;
}

.imgLogo{
  margin-left: 100px;
  width: 220px; 
  margin: -52px 931px 0 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 30px;
  background-color: transparent;
  border-radius: 20px;
  /*padding: 0px 0px;*/
  margin: -3px -16px 0 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero{
  height: 478px;
  overflow: hidden; 
  margin-top: -0px;
  z-index: auto;
  position: relative;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.304), rgba(0, 0, 0, 0.304));
}

.fotoIndex{
  width: 100%;
}

nav {
  position: absolute;
  top: 0;
  margin-top: 32px;
  width: 100%;
  background-color: transparent;
  padding: 20px 74px 0 0;
  z-index: 10;
  text-align: right;
  gap: 8px;
}

nav ul {
  list-style: none;
  display: inline-flex;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  
}

nav ul li a:hover {
  background: #CF0A2C;;
  padding: 8px 6px 8px 6px;
  transition: color 0.01s ease; 
}

.recorte1 {
  text-align: center;
  width: 1475.9px;
  z-index: 40px;
  margin-top: -36px;
  margin-left: -211px;
  position: absolute;
}  

.lonja_int{
  width: 80%;
  /*height: 140%; este height esta por encima del formulario por eso no te deja funciona*/
  margin-top: -80px;
  position: absolute;
}

.nuestrasPizzas{
  width: 57%;
  margin-top: 110px;
  margin-left: 345px;
}

.titulo{
  width: 88%;
  margin-top: 110px;
  margin-left: 190px;
}

.formulario1{
  margin-top: 200px;
  margin-left: 110px;
  margin-right: 90px;
}

.boton{
  text-decoration: none;
  margin-left: 45%;
  height: 55%;
  width: 10%;
  margin-top: 27px;
}

.enviar{
  margin-top: -9px;
  margin-left: -13px;
}

.lonja_int3{
  background-color: #CF0A2C;
  margin-top: 105px;
  height: 310px;
}

.recortesup3 {
  width: 1264.9px;
  z-index: 30px;
  margin-top: -28px;
  margin-bottom: 18px;
  position: absolute;
}

.nuestrasRedes{
  width: 21%;
  margin-top: 55px;
  margin-left: 240px;
  z-index: 50px;
  position: absolute;
}

.facebook{
  width: 10%;
  margin-top: 60px;
  margin-left: 580px;
  z-index: 50px;
  position: absolute;
}

.instagram{
  width: 10%;
  margin-top: 75px;
  margin-left: 745px;
  z-index: 50px;
  position: absolute;
}

.youtube{
  width: 10%;
  margin-top: 80px;
  margin-left: 910px;
  z-index: 50px;
  position: absolute;
}

.recortesup4{
  width: 1264.9px;
  z-index: 30px;
  margin-top: -33px;
  margin-bottom: 38px;
  position: absolute;
}

.recortesup5{
  width: 1264.9px;
  z-index: 30px;
  margin-top: -28px;
  margin-bottom: 38px;
  position: absolute;
}

.lonja_int5{
  background-color: #1A1A1A;
  height: 240px;
}

.datos2 a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.logoInf{
  width: 18%;
  margin-top: 80px;
  margin-left: 522px;
}

.datos{
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: #FFF;
  margin-top: 196px;
  margin-left: 29px;
  position: absolute;
}

.datos2{
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 21px;
  color: #FFF;
  margin-top: 196px;
  margin-left: 1050px;
  margin-right: 10px;
  position: absolute;
  text-decoration: none;
}

section .footer3{
  background: black;
}


body.secc_franquicias .lonja_x2.right {
color:#FFF;
background:#CF0A2C;
}

.solicitud.mobile {
display:none;
}

.desplegable_res {
position:relative;
  float:left;
  width:calc((50% - 24px));
  width:-webkit-calc((50% - 24px));
  width:-moz-calc((50% - 24px));
  width:-o-calc((50% - 24px));
  height:40px;
  font-family:'futurandaltcn', Arial, Helvetica, sans-serif;
  font-size:21px;
  line-height:34px;
  letter-spacing:0.3px;
  color:#000;
  /*background:#FFF;*/
  border:1px solid #000;
  padding:2px 10px;
  margin:0 12px;
  margin-bottom:24px;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
  -ms-border-radius:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
  outline:none;
  background:url(../imgs/flechita.png) top right no-repeat #FFF;
}

.desplegable_res.costado {
  margin-left:15px;
  margin-right:0;
}

/*estilos para los controles del formulario*/
.form-control, .form-select{
border: 1px solid black;
border-radius: 0; 
box-shadow: none;
padding: 10px;
font-size: 20px;
font-weight: bolder;
color: black;
}

.form-control:focus, .form-select:focus{
box-shadow:none;
border-color:black;
outline: none;
}

.form-control::placeholder, .form-select::placeholder{
font-weight: 1000;
color: black;
}

.formulario-ajustado{
max-width: 1100px;
width: 100%;
}

/* Ocultar el checkbox */
#check {
  display: none;
}

/* Estilo del botón hamburguesa */
.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;

  display: none; /* Oculto en desktop */
}

/* Estilo general del navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  z-index: 3000;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

/* Botón de cierre (X) oculto en escritorio */
.close-btn {
  display: none;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  /* Mostrar hamburguesa */
  .checkbtn {
    display: block;
  }

  /* Menú oculto por defecto */
  .navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #CF0A2C;;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    transition: 0.5s;
    z-index: 2000;
  }

  /* Mostrar menú cuando el checkbox está tildado */
  #check:checked ~ .navbar {
    left: 0;
  }

  /* Estilos del botón de cierre (X) */
  .close-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .close-btn label {
    font-size: 40px;
    color: white;
    cursor: pointer;
    display: block;
  }

  /* Estilo de los links dentro del menú */
  .navbar li {
    margin: 1px 0;
  }

  .navbar li a {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }

  .navbar li a:hover{
    background: transparent;
    color: black;
    text-decoration: none;
  }
}

@media(max-width: 768px){
  body {
  margin: 0;
  padding: 0;
}

  .hero {
    position: relative;
    height: 50vh;
    overflow: hidden; 
  }

  .overlay{
    display: none;
  }

  .fotoIndex{
    width: 100%;
    height: 280px;
  }

  .imgLogo{
    margin-left: 100px;
    width: 150px; 
    margin: -52px 29px 0 0;
  }

  .recorte1 {
    text-align: center;
    width: 681px;
    margin-top: -92px;
    margin-bottom: 83px;
    margin-left: -320px;
  } 

  .titulo{
    width: 88%;
    margin-top: 30px;
    margin-left: 25px;
  }
  
  .formulario1{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .boton{
    text-decoration: none;
    margin-left: 145px;
    height: 55%;
    width: 10%;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  .enviar{
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: -49px;
  }

  .recortesup3 {
    width: 360px;
    z-index: 30px;
    margin-top: -9px;
    position: absolute;
  }

  .lonja_int3{
    background-color: #CF0A2C;
    margin-top: 1px;
    height: 110px;
  }

  .nuestrasRedes{
    width: 31%;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 50px;
    position: absolute;
  }
  
  .facebook{
    width: 16%;
    margin-top: 20px;
    margin-left: 150px;
    z-index: 50px;
    position: absolute;
  }
  
  .instagram{
    width: 14%;
    margin-top: 26px;
    margin-left: 225px;
    z-index: 50px;
    position: absolute;
  }
  
  .youtube{
    width: 16%;
    margin-top: 26px;
    margin-left: 290px;
    z-index: 50px;
    position: absolute;
  }

  .recortesup4{
    width: 360px;
    z-index: 30px;
    margin-top: -105px;
    margin-bottom: 38px;
    position: absolute;
  }

  .recortesup5{
    width: 360px;
    z-index: 30px;
    margin-top: -8px;
    margin-bottom: 38px;
    position: absolute;
  }
  
  .lonja_int5{
    background-color: #1A1A1A;
    height: 100px;
    width: 360px;
    margin-top: -360px;
    margin-bottom: 0; 
    padding-bottom: 0;
  }

  .footer3{
    margin-top: 100%;
  }

  .lonja_int4{
    background-color: white;
    margin-top: 96px;
    height: 220px;
    margin-bottom: 0;
  }  
  
  .logoInf{
    width: 28%;
    margin-top: 30px;
    margin-left: 135px;
    margin-bottom: 0;
  }

  .datos{
    display: none;
  }
  
  .datos2{
    display: none;
  }
}

